@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;700&family=Lexend+Deca&family=Manrope:wght@800&family=Montserrat+Subrayada:wght@400;700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(252, 255, 255);
  font-size: 16px;
  font-family: "Roboto", "sans-serif";
}

header {
  background-color: rgb(106, 221, 250);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

a {
  color: black;
  text-decoration: none;
}

.blogs-details {
  /* max-width: 1000px; */
  margin: 25px 25px 40px 25px;
  padding-left: 15px;
  border-left: 5px solid rgb(45, 141, 164);
  border-radius: 3px;
  text-align: justify;
}

.single-blog {
  margin: 25px;
}

.single-blog .blog-title {
  margin-bottom: 30px;
}

.blog-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.blog-snippet {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.blog-body {
  font-size: 1.1rem;
  text-align: justify;
}

.read-blog {
  color: rgb(68, 117, 196);
  font-size: 1.1rem;
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

textarea {
  width: 400px;
  padding: 10px;
  margin-top: 5px;
  font-size: 1rem;
}

.title-textarea {
  height: 25px;
}

.snippet-textarea {
  height: 40px;
}

.body-textarea {
  height: 150px;
}

label {
  font-size: 1.1rem;
}

.add-blog-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(200, 200, 200);
  font-size: 1.2rem;
  font-weight: bolder;
}

.add-blog-btn:hover {
  cursor: pointer;
  background-color: rgb(220, 220, 220);
  transition: 0.2s ease;
}

.del-btn {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
}

.del-confirmation {
  font-weight: bolder;
  margin-bottom: 10px;
}

.confirm-btn {
  font-weight: bolder;
  color: rgb(231, 39, 39);
  margin-right: 10px;
  cursor: pointer;
}

.cancel-btn {
  font-weight: bolder;
  color: rgb(0, 118, 26);
  cursor: pointer;
}

div.error {
  margin-top: 10px;
  color: red;
  font-size: 1.1rem;
}

textarea.error {
  border: 1px solid red;
}

.created-time {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 10px;
}

@media (min-width: 1100px) {
  .blogs-details {
    max-width: 1000px;
    margin: 25px auto 40px auto;
  }
  .single-blog {
    max-width: 1000px;
    margin: 25px auto;
  }
}
